.post-item__attachment {
  @include clearfix();
  margin: -0.125rem;
  display: block;

  &.post-item__attachment--link {
    margin: 0;
  }

  .attachment__item {
    padding: 0.125rem;
    float: left;
    width: 100%;

    >a {
      display: block;
      position: relative;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      background-color: $body-bg;

      .gapo-icon {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        color: $white;
        font-size: 2rem;
        width: 2rem;
        height: 2rem;
      }

      .more-photo {
        font-size: 1.5rem;
        background-color: rgba(0, 0, 0, .5);
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: $white;
      }

      &::before {
        content: '';
        display: block;
      }
    }
  }

  &.post-item__attachment--1 {
    img {
      width: 100%;
    }

    .attachment__item--1 {
      background: none !important;
    }

    .attachment__item {
      .gapo-icon {
        font-size: 3rem;
        width: 3rem;
        height: 3rem;
      }
    }
  }

  &.post-item__attachment--2 {
    img {
      display: none;
    }

    .attachment__item--1,
    .attachment__item--2 {
      width: 50%;

      >a {
        &::before {
          padding-top: 100%;
        }
      }
    }

    .attachment__item {
      .gapo-icon {
        font-size: 2.5rem;
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }

  &.post-item__attachment--3 {
    img {
      display: none;
    }

    .attachment__item--1,
    .attachment__item--2,
    .attachment__item--3 {
      width: 33.33333333%;

      >a {
        &::before {
          padding-top: 100%;
        }
      }
    }
  }

  &.post-item__attachment--4 {
    img {
      display: none;
    }

    .attachment__item--1 {
      width: 100%;

      >a {
        &::before {
          padding-top: 66.6666667%;
        }
      }
    }

    .attachment__item--2,
    .attachment__item--3,
    .attachment__item--4 {
      width: 33.33333333%;

      >a {
        &::before {
          padding-top: 100%;
        }
      }
    }
  }

  &.post-item__attachment--5 {
    img {
      display: none;
    }

    .attachment__item--1,
    .attachment__item--2 {
      width: 50%;

      >a {
        &::before {
          padding-top: 100%;
        }
      }
    }

    .attachment__item--3,
    .attachment__item--4,
    .attachment__item--5 {
      width: 33.33333333%;

      >a {
        &::before {
          padding-top: 100%;
        }
      }
    }
  }
}

.post-link__thumbnail {
  background-size: cover;

  img {
    display: none;
  }
}

.post-link__info {
  background-color: #e6e6e6;
  padding: 0.5rem 0.75rem;
  line-height: 1.5;
}

.post-link__title {
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.post-link__source {
  color: $secondary;
}
