
$grays : #f1f1f1;
$red : #f1f1f1;
.gametv-topbar {
  background-color: $white;
  height: 38px;
}
ul.topbar__login{
  a{
    padding: 0.75rem 1rem;
    font-weight: bold;
    font-size: 0.875rem;
  }
}
.topbar__menu{

}
.checkbox-darkmode {
  width: 50px;
  height: 24px;
  border-radius: 11.5px;
  position: relative;
  cursor: pointer;
  transition: all .8s ease;
  background-color: $danger;
  background-image: url("../images/png-icons/icon-moon.png");
  background-repeat: no-repeat;
  background-position: 0.5rem 0.45rem;
  display:flex;
  padding: 0.2rem;
  justify-content: flex-end;
  cursor: pointer;
  span {
    width: 18px;
    height: 18px;
    background: $white;
    border: .5px solid rgba(0,0,0,.04);
    box-shadow: 0 3px 1px rgba(0,0,0,.1), 0 1px 1px rgba(0,0,0,.16), 0 3px 8px rgba(0,0,0,.15);
    border-radius: 50%;
    display: block;
  }
}

.gametv-header{
  height: 125px;
  background-image: url("../images/gametv/bgHeaderWhite.jpg");
  background-position: center center;
  background-repeat: repeat-x;
}
.bg-grays{
  background-color: $grays;
}
.header__logo{
  height: 125px;
}
.header__ads{
  width: 728px;
  height: 90px;
}
.gametv-navbar.fixed{
  position: fixed;
  z-index: 1000;
  left: 0;
  right: 0;
  top: 0;
  transition: all .8s ease;
}
.gametv-navbar{
  height: 80px;
  .navbar-collapse{
    .navbar-nav{
      height: 80px;
      list-style: none;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      background-color: $danger;
      .nav-link{

      }
      .nav-item{
        display:inline-flex;
        &:first-child{
          a{
            border-bottom-left-radius: 20px;
          }

        }
        &:last-child{
          a{
            border-bottom-right-radius: 20px;
          }

        }
        &:hover{
          .dropdown-menu{
            display: block;
          }
        }
        a{
          padding:0.5rem 0.875rem;
          font-weight: bold;
          color: $white;
          font-size: 0.875rem;
          text-align: center;
          &:hover{
            color: $danger;
            background-color: $white;
          }
        }
        .dropdown-menu{
          display: none;
          border:none;
          border-radius: 0;
          .dropdown-item{
            color: $danger;
            &:hover{
              color: $white;
              background-color: $danger;
            }
          }
        }
        .icon-nav{
          width: 60px;
          height: 45px;
          background-repeat: no-repeat;
          background-position:center center;
          display: block;
          margin:auto;
        }
        .icon-home{
          .icon-nav{
            background-image: url("../images/png-icons/icon-home.png");
          }
          &:hover{
            .icon-nav{
              background-image: url("../images/png-icons/icon-home-red.png");
            }
          }
        }
        .icon-aoe{
          .icon-nav{
            background-image: url("../images/png-icons/icon-aoe.png");
          }
          &:hover{
            .icon-nav{
              background-image: url("../images/png-icons/icon-aoe-red.png");
            }
          }

        }
        .icon-fps{
          .icon-nav{
            background-image: url("../images/png-icons/icon-fps.png");
          }
          &:hover{
            .icon-nav{
              background-image: url("../images/png-icons/icon-fps-red.png");
            }
          }
        }
        .icon-moba{
          .icon-nav{
            background-image: url("../images/png-icons/icon-moba.png");
          }
          &:hover{
            .icon-nav{
              background-image: url("../images/png-icons/icon-moba-red.png");
            }
          }
        }
        .icon-sport{
          .icon-nav{
            background-image: url("../images/png-icons/icon-sport.png");
          }
          &:hover{
            .icon-nav{
              background-image: url("../images/png-icons/icon-sport-red.png");
            }
          }
        }
        .icon-rts{
          .icon-nav{
            background-image: url("../images/png-icons/icon-rts.png");
          }
          &:hover{
            .icon-nav{
              background-image: url("../images/png-icons/icon-rts-red.png");
            }
          }

        }
        .icon-online{
          .icon-nav{
            background-image: url("../images/png-icons/icon-online.png");
          }
          &:hover{
            .icon-nav{
              background-image: url("../images/png-icons/icon-online-red.png");
            }
          }
        }
        .icon-congnghe{
          .icon-nav{
            background-image: url("../images/png-icons/icon-congnghe.png");
          }
          &:hover{
            .icon-nav{
              background-image: url("../images/png-icons/icon-congnge-red.png");
            }
          }
        }
        .icon-giaidau{
          .icon-nav{
            background-image: url("../images/png-icons/icon-giaidau.png");
          }
          &:hover{
            .icon-nav{
              background-image: url("../images/png-icons/icon-giaidau-red.png");
            }
          }
        }
        .icon-console{
          .icon-nav{
            background-image: url("../images/png-icons/icon-console.png");
          }
          &:hover{
            .icon-nav{
              background-image: url("../images/png-icons/icon-console-red.png");
            }
          }
        }
        .icon-video{
          .icon-nav{
            background-image: url("../images/png-icons/icon-video.png");
          }
          &:hover{
            .icon-nav{
              background-image: url("../images/png-icons/icon-video-red.png");
            }
          }
        }
        .icon-lienhe{
          .icon-nav{
            background-image: url("../images/png-icons/icon-lienhe.png");
          }
          &:hover{
            .icon-nav{
              background-image: url("../images/png-icons/icon-lienhe-red.png");
            }
          }
        }

      }
    }
  }
}
.search__header{
  .form-control{
    height: 28px;
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    border-radius: 0.875rem;
    background-color:$gray-400;
  }
}
.header__logo-darkmode{
  display: none;
}
.topbar__auth{
  color:$dark;
}
// .Dark-mode
.dark-mode{
  .topbar__auth{
    color:$white;
  }
  .gametv-topbar{
    background-color: #1b1b1b;
  }
  ul.topbar__login{
    a{
      color: $white;
    }
  }
  .checkbox-darkmode {
    background-image: url("../images/png-icons/icon-light.png");
    background-position: 25px 5px;
    justify-content: flex-start;
    cursor: pointer;
  }
  .gametv-header{
    height: 125px;
    background-image: none;
    background-position: none;
    background-repeat: none;
  }
  .header__logo-lightmode{
    display: none;
  }
  .header__logo-darkmode{
    display: flex;
  }
  .search__header{
    .form-control {
      background-color: #2d2d2d;
      border: 1px solid #2d2d2d;
      color: $white;
    }
  }
  .topbar__menu{
    a{
      color : $white;
    }

  }
}
.count-mail{
  position:relative;
  background:#bfc1cd;
  color:$white;
  width:16px;
  height:16px;
  border-radius:50%;
  font-size: 0.5rem;
  display:inline-flex;
  align-items:center;
  justify-content:center;
  top:-8px;
  left:-15px;

}
