.side-menu__item {
  padding: 0.625rem 1rem;
  @include default-transition();

  &:hover {
    color: inherit;
    opacity: 0.9;
    background-color: #f5f5f5;
  }

  .svg-icon {
    margin-right: 0.75rem;
  }
}
