.container {
  width: 1144px;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-image: url("../images/gametv/bgWhite.jpg");
  background-position: center 40px;
  background-repeat: no-repeat;
  // background-size:cover;
  background-color: $light;
  color: $dark;
  overflow-x: hidden;
}

.gametv-main {
  min-height: 100%;
}


.gametv-title {
  font-size: 1.5rem;
  font-weight: bold;
}
.gametv-subtitle {
  font-size: 1rem;
  font-weight: bold;
}


.gametv-group {
  display: flex;

  >a,
  >button {
    display: flex;
    flex: 1;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}


button.close {
  opacity: 1;
  outline: none;

  .gametv-icon {
    font-weight: inherit;
  }
}


.list-unstyled {
  margin-bottom: 0;
}
button:focus {
  outline: none;
}
.border-radius-025{
  border-radius: 0.25rem;
}

.border-radius-05{
  border-radius: 0.5rem;
}
.border-radius-1{
  border-radius: 1rem;
}
.gapo-box {
  border-radius: 1rem;
  -webkit-box-shadow: 0 1px 3px rgba(26,26,26,.3);
  -moz-box-shadow: 0 1px 3px rgba(26,26,26,.3);
  box-shadow: 0 1px 3px rgba(26,26,26,.3);
  padding: .75rem;
  margin-bottom: .75rem;
  background-color: $light;
}
.post-more{
  color: $dark;
}
.dark-mode{
  body{
    background-color:$dark;
    color: $light;
  }
  .post-more{
    color: $white;
  }
}
.modal-content{
  background-color: $light;
  border-radius: 1rem;
}
.tour-video,.list-news-video{
  color: $dark;
}
.dark-mode{
  body {
    height: 100%;
    background-image: url("../images/gametv/bgNight.jpg");
    background-position: center 40px;
    background-repeat: no-repeat;
    // background-size:cover;
    background-color: $dark;
    color: $dark;
  }
  .modal-content{
    background-color: #232323;
  }
  .gapo-box {
    background-color: #232323;
  }
  .border-bottom{
    border-bottom: 1px solid #695757 !important;
  }
  .tour-video,.list-news-video{
    color: $white;
  }
}
.tour-header{
  border-bottom: 5px solid $danger;
  padding: 0 0 1rem 0;
}
.list-news-video__header{
  border-bottom: 3px solid $danger;
  padding: 0 0 0.75rem 0;
}
.part{
  width: 90px;
  height: 38px;
  background-color: #8a8e9e;
  color: #ffffff;
  display:inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-weight: bold;
}
.part.active,.part-tag.active{
  background-color: $danger !important;
  color: #ffffff !important;

}
.series-icon,.tour-tag-icon{
  font-size: 1.5rem;
  font-weight: bold;
}
.tour-more{
  font-weight: bold;
  color: #6c7183;
}
.part-tag{
  padding: 0 0.5rem;
  height: 30px;
  background-color: #eff0f4;
  color: #000000 !important;
  display:inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-weight: bold;
}
.thumb-video{
  position: relative;
  .icon-video{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width:28px;
    height: 35px;
    margin:auto;
  }
}
.list-streamer{
  li{
    background-color:#eff0f4;
    border-radius: 10px;
    margin-top: 0.5rem;
    padding: 0 0.5rem;
    .media-body{
      justify-content:center;
      display:flex;
      min-height: 33px;
      align-items: center;
      font-weight: bold;
      a{
        color:#000000;
      }
    }
  }
}
li.media img {
  object-fit: cover;
}
