{% extends "layouts/default.njk" %}
{% set pageTitle = 'Trang chủ' %}
{% set bodyClasses = '' %}
{% block content %}

<div class="row justify-content-center">
  <div class="container">
    <div class="row">
      <div class="col col-1144 py-3">
        <div class="row">
          <div class="contact-main post-item__content pb-5">
              <h3 class="mt-3">1. THÔNG TIN ĐƯỢC THU THẬP</h3>
              Công ty Cổ phần Công nghệ GTV Việt nam (sau đây gọi tắt là “chúng tôi” hoặc “GTV”) thu thập thông tin để cung cấp các dịch vụ tốt hơn cho tất cả người dùng của mình. Khi bạn đăng nhập vào Mạng xã hội GAMETV, chúng tôi sẽ thu thập các thông tin liên quan tới bạn (sau đây gọi chung là “thông tin”), bao gồm:
              <h4>a. Những thông tin bạn chủ động cung cấp cho chúng tôi</h4>
              Khi tạo một Tài khoản GAMETV, bạn cung cấp cho chúng tôi thông tin cá nhân bao gồm tên, mật khẩu và số điện thoại. Sau khi đăng ký tài khoản, bạn có quyền, nhưng không bắt buộc, cung cấp cho chúng tôi các thông tin liên lạc khác để phục vụ việc định danh tài khoản.
              <h4>b. Thông tin được thu thập khi sử dụng dịch vụ</h4>
              Trong quá trình bạn sử dụng dịch vụ của chúng tôi, chúng tôi có thể thu thập các thông tin sau:
              - Các ứng dụng, trình duyệt và thiết bị của bạn
              Chúng tôi thu thập thông tin về các ứng dụng, trình duyệt và thiết bị mà bạn dùng để truy cập vào dịch vụ của GTV. Điều này giúp chúng tôi cung cấp các tính năng như tự động cập nhật sản phẩm.
              - Hoạt động của bạn
              Chúng tôi thu thập thông tin về hoạt động của bạn, bao gồm nhưng không giới hạn là các nội dung bạn đăng tải, chia sẻ trên Mạng xã hội GAMETV và sử dụng thông tin này để thực hiện việc tối ưu hóa, cá nhân hóa nội dung hiển thị nhằm phục vụ bạn tốt hơn.
              <h3 class="mt-3">2. MỤC ĐÍCH VIỆC THU THẬP THÔNG TIN</h3>
              Với tôn chỉ hoạt động là “Lấy người dùng làm trọng tâm”, chúng tôi xác định và cam kết việc thu thập thông tin là để tối ưu trải nghiệm người dùng với những mục đích cụ thể như sau:
              <h5 class="mt-2">a. Cải thiện, phát triển và cung cấp các dịch vụ phù hợp cho người sử dụng</h5>
              <h5 class="mt-2">b. Cá nhân hóa trải nghiệm người dùng</h5>
              <h5 class="mt-2">c. Liên lạc</h5>
              <h5 class="mt-2">d. Bảo vệ người dùng Mạng xã hội GAMETV</h5>
              <h3 class="mt-3">3. TRƯỜNG HỢP THÔNG TIN ĐƯỢC CHIA SẺ</h3>
              <h5 class="mt-2">a. Người sử dụng tự chia sẻ thông tin của mình</h5>
              Mạng xã hội GAMETV cho phép bạn tự chia sẻ thông tin với người khác và bạn nắm quyền kiểm soát cách chia sẻ. Ví dụ: bạn có thể chia sẻ các nội dung, video, hình ảnh trên Mạng xã hội GAMETV hoặc có thể quyết định giữ các nội dung, video, hình ảnh của bạn ở chế độ riêng tư.
              <h5 class="mt-2">b. Trường hợp chúng tôi chia sẻ thông tin của bạn</h5>
              Chúng tôi sẽ giữ bí mật và không tiết lộ bất kỳ thông tin nào của bạn ngoại trừ các trường hợp sau đây:
              Có sự đồng ý của bạn
              Chúng tôi sẽ xin phép bạn và phải được sự đồng ý của bạn trước khi chia sẻ bất kỳ thông tin nào của bạn. Khi bạn đăng ký, sử dụng tính năng đăng nhập liên quan đến các nền tảng và ứng dụng của bên thứ ba, điều đó đồng nghĩa với việc các thông tin của bạn sẽ được chia sẻ cho bên thứ ba, dựa trên sự chấp thuận của bạn. Bằng việc chấp nhận sự chia sẻ này, bạn cũng sẽ chấp nhận những rủi ro kèm theo. Trong trường hợp này, bạn đồng ý và chấp nhận loại trừ trách nhiệm của GTV liên quan tới việc thông tin, dữ liệu của bạn bị chia sẻ cho bên thứ ba.
              Theo quy định của pháp luật Việt Nam
              Chúng tôi sẽ chia sẻ thông tin cá nhân cho các cơ quan chức năng của Việt Nam khi có yêu cầu hợp lệ của Tòa án và/hoặc cơ quan hành chính có thẩm quyền theo quy định của pháp luật Việt Nam.
              Nếu GTV tham gia vào việc sáp nhập, mua lại hoặc bán tài sản, chúng tôi sẽ tiếp tục đảm bảo tính bí mật của thông tin cá nhân của bạn và thông báo cho những người dùng bị ảnh hưởng trước khi thông tin cá nhân được chuyển giao hoặc chịu sự điều chỉnh của một chính sách bảo mật khác.
              <h3 class="mt-3">4. BẢO MẬT THÔNG TIN</h3>
              Mạng xã hội GAMETV được giám sát bảo mật bởi các chuyên gia có nhiều năm kinh nghiệm. Luôn nỗ lực cao nhất để bảo vệ dữ liệu người dùng.
              Chúng tôi sẽ thông báo đến bạn các mối đe dọa bảo mật và tiến trình xử lý bảo mật của chúng tôi để bảo vệ quyền và lợi ích của bạn khi sử dụng Mạng xã hội GAMETV.
              <h3 class="mt-3">5. HỢP TÁC VỚI CƠ QUAN CHỨC NĂNG</h3>
              Mạng xã hội GAMETV đặt máy chủ tại Việt Nam. Tất cả các dữ liệu được lưu trữ, sử dụng theo quy định của pháp luật Việt Nam và các điều ước quốc tế mà Việt Nam là thành viên.
              Khi nhận được khiếu nại chính thức bằng văn bản, chúng tôi sẽ phản hồi bằng cách liên hệ với người đưa ra khiếu nại này. Chúng tôi sẽ hợp tác với các cơ quan chức năng để giải quyết bất kỳ khiếu nại nào về việc truyền dữ liệu của bạn mà chúng tôi không thể giải quyết trực tiếp với bạn.
              <h3 class="mt-3">6. CÁC ĐIỀU KHOẢN KHÁC</h3>
              <h5 class="mt-2">a. Hiệu lực</h5>
              Chính sách bảo mật này có hiệu lực ràng buộc giữa chúng tôi và bạn khi bạn đồng ý tham gia và Mạng xã hội GAMETV. Chính sách bảo mật này áp dụng cho tất cả các thành viên sử dụng Mạng xã hội GAMETV và có giá trị bổ sung cho Thỏa Thuận Cung Cấp Và Sử Dụng Dịch Vụ Mạng Xã Hội GAMETV.
              <h5 class="mt-2">b. Sửa đổi, bổ sung</h5>
              Bạn đồng ý sẽ thông báo ngay cho GAMETV về bất ký trường hợp nào sử dụng trái phép tài khoản và mật khẩu của bạn hoặc bất kỳ hành động phá vỡ hệ thống bảo mật nào bằng cách gửi yêu cầu hỗ trợ tại địa chỉ admin@gtv.com.vn
              <br>
              Các điều khoản tại Chính sách bảo mật này có thể được chúng tôi sửa đổi, bổ sung bất cứ lúc nào mà không cần phải thông báo trước tới bạn. Những Thông tin sửa đổi, bổ sung sẽ được chúng tôi công bố trên Mạng xã hội GAMETV.


          </div>
        </div>
      </div>
    </div>
  </div>

</div>
{% include "./components/login-modal.njk" %}
{% include "./components/register-modal.njk" %}
{% endblock %}
