{% extends "layouts/default.njk" %}
{% set pageTitle = 'Trang chủ' %}
{% set bodyClasses = '' %}
{% block content %}

<div class="row justify-content-center">
  <div class="container">
    <div class="row">
      <div class="col col-1144 py-3">
        <div class="row">
          <div class="col col-734 ">
            {# -- #}
            <div class="post-details post-large post-item mt-4 mb-4">
              <a href="#" class="gametv-title mt-3 d-block mb-3">Giải đấu Major cuối cùng của mùa giải DPC 2019 - 2020 chính thức bị hủy bỏ</a>
              <div class="post-item__attachment post-item__attachment--1">
                <div class="attachment__item attachment__item--1">
                  <a href="#" >
                    <img src="assets/images/gametv/thumb732x412.jpg" alt="" class="img-fluid border-radius-05">
                  </a>
                </div>
              </div>
              <div class="post-item__content">

                <div class="font-size-small text-secondary mt-2"><strong>Huyết Nguyệt</strong> - 12:58, 07/05/2020</div>
                <div class="mt-2">Garena đã phạm vào lỗi không đáng có khi lỡ tay xóa những phần thưởng mà game thủ đang sở hữu</div>
                <div class="mt-2">Mới đây, trên trang Fanpage của Kiếm Đế 3D chính thức hé lộ sự kiện tặng “rồng vàng" đặc biệt chuẩn bị cho chuỗi sự kiện tháng 5 siêu hấp dẫn. Theo đó, phía BTC công bố event “ĐOẠT ẤN RỒNG HOÀNG KIM" chưa từng có từ trước đến nay, song song với đó là combo sự kiện đảm bảo game thủ chơi hoài không chán. Hiện tại, phía NPH vẫn chưa công bố phần quà này sẽ được dành cho sự kiện nào. Tuy nhiên, với danh xưng Ấn Rồng Hoàng Kim thể hiện địa vị và quyền lực của người chơi trong game hẳn sẽ khiến không ít người chơi phải “đỏ mắt" mong chờ. </div>
                <div class="mt-2">Đến với những diễn biến của bảng B, không quá bất ngờ khi VP.Prodigy tiếp tục duy trì một phong độ cao để có cho mình chiến thắng thứ 5 liên tiếp và bỏ xa các đối thủ bám đuổi ở phía sau. Winstrike sau khi nhận thất bại trước VP.Prodigy cũng đã phải cùng dắt tay Gambit nói lời chia tay với ESL One Birmingham với chỉ 2 game thắng và 10 game thua. Nếu như các đại diện khác của khu vực châu Âu như Alliance hay NiP đều đã giành những thắng lợi nhàn nhã trước đối thủ của mình thì nhà vô địch TI9 tiếp tục lún sâu vào khủng hoảng với chuỗi thất bại được nâng lên con số 4 vào ngày hôm qua.</div>
                <div class="mt-2">Đối mặt với những chú ngựa ô Cyber Legacy, ít ai có thể ngờ rằng đội hình toàn sao của OG lại thể hiện một bộ mặt bạc nhược đến vậy. Cả 5 thành viên của họ đều thi đấu dưới sức mình và không thể hiện được nhiều điều, trong khi Cyber Legacy lại tỏ ra vô cùng thoải mái và thỏa sức phô diễn kỹ năng của mình. Kết quả cuối cùng, Cyber Legacy đã có cho mình thắng lợi 2 - 1 trước OG và vươn lên nắm giữ vị trí thứ 2 của bảng B, đồng thời đẩy OG vào trạng thái "chết lâm sàng" bởi dù có giành chiến thắng ở 2 trận đấu cuối đi chăng nữa thì n0tail cùng các đồng đội vẫn sẽ phải rời giải đấu nếu như kết quả của các cặp đấu khác không thuận lợi đối với họ..</div>
              </div>

            </div>
            {# -- #}
            <div class="gametv-title post-more">TIN LIÊN QUAN</div>
            <ul class="list-unstyled mt-2">
              <li class="media py-3">
                <a href="/details.html"><img class="mr-3 border-radius-05" src="assets/images/gametv/thumb732x412.jpg" width="290" alt="Generic placeholder image"></a>
                <div class="media-body">
                  <a href="/details.html" class="mt-0 mb-1 font-weight-bold">Kết quả WePlay! Pushka League ngày 6/5: Khi á quân TI không còn là chính mình</a>
                  <div class="font-size-small text-secondary mt-2"><strong>Huyết Nguyệt</strong> - 12:58, 07/05/2020</div>
                  <div class=" text-secondary mt-2">Mới đây, trên trang Fanpage của Kiếm Đế 3D chính thức hé lộ sự kiện tặng “rồng vàng" đặc biệt chuẩn bị cho chuỗi sự kiện tháng 5 siêu hấp dẫn. Theo đó, phía BTC công bố event “ĐOẠT ẤN RỒNG HOÀNG KIM" chưa từng có từ trước đến nay, song song với đó là combo sự kiện đảm bảo game thủ chơi ... </div>
                </div>
              </li>
              <li class="media py-3">
                <a href="/details.html"><img class="mr-3 border-radius-05" src="assets/images/gametv/thumb732x412.jpg" width="290" alt="Generic placeholder image"></a>
                <div class="media-body">
                  <a href="/details.html" class="mt-0 mb-1 font-weight-bold">Kết quả WePlay! Pushka League ngày 6/5: Khi á quân TI không còn là chính mình</a>
                  <div class="font-size-small text-secondary mt-2"><strong>Huyết Nguyệt</strong> - 12:58, 07/05/2020</div>
                  <div class=" text-secondary mt-2">Mới đây, trên trang Fanpage của Kiếm Đế 3D chính thức hé lộ sự kiện tặng “rồng vàng" đặc biệt chuẩn bị cho chuỗi sự kiện tháng 5 siêu hấp dẫn. Theo đó, phía BTC công bố event “ĐOẠT ẤN RỒNG HOÀNG KIM" chưa từng có từ trước đến nay, song song với đó là combo sự kiện đảm bảo game thủ chơi ... </div>
                </div>
              </li>
              <li class="media py-3">
                <a href="/details.html"><img class="mr-3 border-radius-05" src="assets/images/gametv/thumb732x412.jpg" width="290" alt="Generic placeholder image"></a>
                <div class="media-body">
                  <a href="/details.html" class="mt-0 mb-1 font-weight-bold">Kết quả WePlay! Pushka League ngày 6/5: Khi á quân TI không còn là chính mình</a>
                  <div class="font-size-small text-secondary mt-2"><strong>Huyết Nguyệt</strong> - 12:58, 07/05/2020</div>
                  <div class=" text-secondary mt-2">Mới đây, trên trang Fanpage của Kiếm Đế 3D chính thức hé lộ sự kiện tặng “rồng vàng" đặc biệt chuẩn bị cho chuỗi sự kiện tháng 5 siêu hấp dẫn. Theo đó, phía BTC công bố event “ĐOẠT ẤN RỒNG HOÀNG KIM" chưa từng có từ trước đến nay, song song với đó là combo sự kiện đảm bảo game thủ chơi ... </div>
                </div>
              </li>
            </ul>
          </div>
          {# -- #}
          <div class="col col-380 ml-2">
            {% include "./components/sidebar-news.njk" %}

            {% include "./components/post-ads.njk" %}
            {% include "./components/sidebar-news.njk" %}
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
{% include "./components/login-modal.njk" %}
{% include "./components/register-modal.njk" %}
{% endblock %}
