{% extends "layouts/auth.njk" %}
{% set pageTitle = 'Trang chủ' %}
{% set bodyClasses = '' %}
{% block content %}
{# <div class="row justify-content-center">
  <div class="col col-1144 py-4">
      {% include "./components/slideshow.njk" %}
  </div>
</div> #}
<div class="row justify-content-center">
  <div class="container">
    <div class="row">
      <div class="col col-1144 py-4">
        <div class="row">
          <div class="col col-734 ">
            {% include "./components/title-flag.njk" %}
            <div class="row">
              <div class="col col-426 ">
                <div class="post-medium post-item mt-4">
                  <div class="post-item__attachment">
                    <div class="attachment__item attachment__item--1">
                      <a href="/details.html" >
                        <img src="assets/images/gametv/thumb424x238.jpg" alt="" class="img-fluid border-radius-05">
                      </a>
                    </div>
                  </div>
                  <div class="post-item__content">
                    <a href="/details.html" class="gametv-title mt-2 d-block">Giải đấu Major cuối cùng của mùa giải DPC 2019 - 2020 chính thức bị hủy bỏ</a>
                    <div class="font-size-small text-secondary mt-2"><strong>Huyết Nguyệt</strong> - 12:58, 07/05/2020</div>
                    <div class="mt-2">Garena đã phạm vào lỗi không đáng có khi lỡ tay xóa những phần thưởng mà game thủ đang sở hữu</div>
                  </div>

                </div>
              </div>
              <div class="col col-292 ml-2">
                <ul class="list-unstyled mt-2">
                    <li class="media border-bottom py-3">
                      <a href="/details.html" ><img class="mr-2 border-radius-05" src="assets/images/gametv/thumb124x69.png" alt="Generic placeholder image"></a>
                      <div class="media-body">
                        <a href="/details.html" class="mt-0 mb-1">Kết quả WePlay! Pushka League ngày 6/5: Khi á quân TI không còn là chính mình</a>
                      </div>
                    </li>
                    <li class="media border-bottom py-3">
                      <a  href="/details.html" ><img class="mr-2 border-radius-05" src="assets/images/gametv/thumb124x69.png" alt="Generic placeholder image"></a>
                      <div class="media-body">
                        <a href="/details.html" class="mt-0 mb-1">Kết quả WePlay! Pushka League ngày 6/5: Khi á quân TI không còn là chính mình</a>
                      </div>
                    </li>
                    <li class="media border-bottom py-3">
                      <a href="/details.html" ><img class="mr-2 border-radius-05" src="assets/images/gametv/thumb124x69.png" alt="Generic placeholder image"></a>
                      <div class="media-body">
                        <a href="/details.html" class="mt-0 mb-1">Kết quả WePlay! Pushka League ngày 6/5: Khi á quân TI không còn là chính mình</a>
                      </div>
                    </li>
                    <li class="media py-3">
                      <a href="/details.html" ><img class="mr-2 border-radius-05" src="assets/images/gametv/thumb124x69.png" alt="Generic placeholder image"></a>
                      <div class="media-body">
                        <a href="/details.html" class="mt-0 mb-1">Kết quả WePlay! Pushka League ngày 6/5: Khi á quân TI không còn là chính mình</a>
                      </div>
                    </li>
                  </ul>
              </div>
            </div>
            {# -- #}
            <div class="post-large post-item mt-4 mb-4">
              <div class="post-item__attachment post-item__attachment--1">
                <div class="attachment__item attachment__item--1">
                  <a href="/details.html" >
                    <img src="assets/images/gametv/thumb732x412.jpg" alt="" class="img-fluid border-radius-05">
                  </a>
                </div>
              </div>
              <div class="post-item__content">
                <a href="/details.html" class="gametv-title mt-3 d-block">Giải đấu Major cuối cùng của mùa giải DPC 2019 - 2020 chính thức bị hủy bỏ</a>
                <div class="font-size-small text-secondary mt-2"><strong>Huyết Nguyệt</strong> - 12:58, 07/05/2020</div>
                <div class="mt-2">Garena đã phạm vào lỗi không đáng có khi lỡ tay xóa những phần thưởng mà game thủ đang sở hữu</div>
              </div>

            </div>
            {# -- #}
            <ul class="list-unstyled mt-2">
              <li class="media py-3">
                <a href="/details.html"><img class="mr-3 border-radius-05" src="assets/images/gametv/thumb732x412.jpg" width="290" alt="Generic placeholder image"></a>
                <div class="media-body">
                  <a href="/details.html" class="mt-0 mb-1 font-weight-bold">Kết quả WePlay! Pushka League ngày 6/5: Khi á quân TI không còn là chính mình</a>
                  <div class="font-size-small text-secondary mt-2"><strong>Huyết Nguyệt</strong> - 12:58, 07/05/2020</div>
                  <div class=" text-secondary mt-2">Mới đây, trên trang Fanpage của Kiếm Đế 3D chính thức hé lộ sự kiện tặng “rồng vàng" đặc biệt chuẩn bị cho chuỗi sự kiện tháng 5 siêu hấp dẫn. Theo đó, phía BTC công bố event “ĐOẠT ẤN RỒNG HOÀNG KIM" chưa từng có từ trước đến nay, song song với đó là combo sự kiện đảm bảo game thủ chơi ... </div>
                </div>
              </li>
              <li class="media py-3">
                <a href="/details.html"><img class="mr-3 border-radius-05" src="assets/images/gametv/thumb732x412.jpg" width="290" alt="Generic placeholder image"></a>
                <div class="media-body">
                  <a href="/details.html" class="mt-0 mb-1 font-weight-bold">Kết quả WePlay! Pushka League ngày 6/5: Khi á quân TI không còn là chính mình</a>
                  <div class="font-size-small text-secondary mt-2"><strong>Huyết Nguyệt</strong> - 12:58, 07/05/2020</div>
                  <div class=" text-secondary mt-2">Mới đây, trên trang Fanpage của Kiếm Đế 3D chính thức hé lộ sự kiện tặng “rồng vàng" đặc biệt chuẩn bị cho chuỗi sự kiện tháng 5 siêu hấp dẫn. Theo đó, phía BTC công bố event “ĐOẠT ẤN RỒNG HOÀNG KIM" chưa từng có từ trước đến nay, song song với đó là combo sự kiện đảm bảo game thủ chơi ... </div>
                </div>
              </li>
              <li class="media py-3">
                <a href="/details.html"><img class="mr-3 border-radius-05" src="assets/images/gametv/thumb732x412.jpg" width="290" alt="Generic placeholder image"></a>
                <div class="media-body">
                  <a href="/details.html" class="mt-0 mb-1 font-weight-bold">Kết quả WePlay! Pushka League ngày 6/5: Khi á quân TI không còn là chính mình</a>
                  <div class="font-size-small text-secondary mt-2"><strong>Huyết Nguyệt</strong> - 12:58, 07/05/2020</div>
                  <div class=" text-secondary mt-2">Mới đây, trên trang Fanpage của Kiếm Đế 3D chính thức hé lộ sự kiện tặng “rồng vàng" đặc biệt chuẩn bị cho chuỗi sự kiện tháng 5 siêu hấp dẫn. Theo đó, phía BTC công bố event “ĐOẠT ẤN RỒNG HOÀNG KIM" chưa từng có từ trước đến nay, song song với đó là combo sự kiện đảm bảo game thủ chơi ... </div>
                </div>
              </li>
              <li class="media py-3">
                <a href="/details.html"><img class="mr-3 border-radius-05" src="assets/images/gametv/thumb732x412.jpg" width="290" alt="Generic placeholder image"></a>
                <div class="media-body">
                  <a href="/details.html" class="mt-0 mb-1 font-weight-bold">Kết quả WePlay! Pushka League ngày 6/5: Khi á quân TI không còn là chính mình</a>
                  <div class="font-size-small text-secondary mt-2"><strong>Huyết Nguyệt</strong> - 12:58, 07/05/2020</div>
                  <div class=" text-secondary mt-2">Mới đây, trên trang Fanpage của Kiếm Đế 3D chính thức hé lộ sự kiện tặng “rồng vàng" đặc biệt chuẩn bị cho chuỗi sự kiện tháng 5 siêu hấp dẫn. Theo đó, phía BTC công bố event “ĐOẠT ẤN RỒNG HOÀNG KIM" chưa từng có từ trước đến nay, song song với đó là combo sự kiện đảm bảo game thủ chơi ... </div>
                </div>
              </li>
            </ul>
          </div>
          {# -- #}
          <div class="col col-380 ml-2">
            {% include "./components/sidebar-news.njk" %}

            {% include "./components/post-ads.njk" %}
            {% include "./components/sidebar-news.njk" %}
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}
