{% extends "layouts/default.njk" %}
{% set pageTitle = 'Trang chủ' %}
{% set bodyClasses = '' %}
{% block content %}
<div class="row justify-content-center">
  <div class="col col-1144 py-4">
      <div class="video w-100">
        <img src="assets/images/gametv/video.jpg" class="w-100" alt="" />
      </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="container">
    <div class="row">
      <div class="col col-1144 py-3">
        <div class="row">
          <div class="col col-734 mr-2">
            {% include "./components/videos-list.njk" %}
          </div>
          {# -- #}
          <div class="col col-380 ml-2">
            {% include "./components/sidebar-steamer.njk" %}

            {% include "./components/post-ads.njk" %}
            {% include "./components/sidebar-video.njk" %}
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
{% include "./components/login-modal.njk" %}
{% include "./components/register-modal.njk" %}
{% endblock %}
