<div class="gapo-box">
  <div class="gametv-subtitle timeline__title mb-2 mt-1 text-center text-uppercase">Streamer List</div>
  <div class="navbar__right navbar__right--4">
    <ul class="list-unstyled mt-3 d-block flex-row ">
      <li class="d-inline-flex bg-danger border-right-radius-20"><a href="/details.html" class="text-right px-3 py-2">CS:GO</a></li>
      <li class="d-inline-flex bg-gray border-radius-1"><a href="/details.html" class="text-center px-3 py-2">LOL</a></li>
      <li class="d-inline-flex bg-gray border-radius-1"><a href="/details.html" class="text-center px-3 py-2">AOE</a></li>
      <li class="d-inline-flex bg-gray border-left-radius-20"><a href="/details.html" class = "px-3 py-2">Dota</a></li>
    </ul>
  </div>
  <ul class="list-unstyled mt-2 list-streamer">
    <li class="media py-2">
      <a href="/details.html" ><img class="mr-2 border-radius-05" src="assets/images/png-icons/avatar.png" alt="Generic placeholder image"></a>
      <div class="media-body">
        <a href="/details.html">Chim sẻ đi nắng</a>
        <a href="/" class="mt-0 mb-1 font-weight-bold ml-auto"><img class="mr-2 border-radius-05" src="assets/images/png-icons/icon-play-red.png" alt="Generic placeholder image"></a>
      </div>
    </li>
    <li class="media py-2">
      <a href="/details.html" ><img class="mr-2 border-radius-05" src="assets/images/png-icons/avatar.png" alt="Generic placeholder image"></a>
      <div class="media-body">
        <a href="/details.html">Chim sẻ đi nắng</a>
        <a href="/" class="mt-0 mb-1 font-weight-bold ml-auto"><img class="mr-2 border-radius-05" src="assets/images/png-icons/icon-play-red.png" alt="Generic placeholder image"></a>
      </div>
    </li>
    <li class="media py-2">
      <a href="/details.html" ><img class="mr-2 border-radius-05" src="assets/images/png-icons/avatar.png" alt="Generic placeholder image"></a>
      <div class="media-body">
        <a href="/details.html">Chim sẻ đi nắng</a>
        <a href="/" class="mt-0 mb-1 font-weight-bold ml-auto"><img class="mr-2 border-radius-05" src="assets/images/png-icons/icon-play-red.png" alt="Generic placeholder image"></a>
      </div>
    </li>
    <li class="media py-2">
      <a href="/details.html" ><img class="mr-2 border-radius-05" src="assets/images/png-icons/avatar.png" alt="Generic placeholder image"></a>
      <div class="media-body">
        <a href="/details.html">Chim sẻ đi nắng</a>
        <a href="/" class="mt-0 mb-1 font-weight-bold ml-auto"><img class="mr-2 border-radius-05" src="assets/images/png-icons/icon-play-red.png" alt="Generic placeholder image"></a>
      </div>
    </li>
  </ul>
</div>
