<div class="wrap__slider">
  <div class="slider__body">
    <div class="slider__content">
      <div class="item">
        <a href="#"><img src="assets/images/gametv/game-carousel-aov@2x.8c5d5402.jpg" class="border-radius-05 w-100" alt=""></a>
        <div class="item__caption">
          <div class="_2qE8RC7sX1i9XPcjkIsHGt mb-3">Liên Minh Huyền Thoại</div>
          <div class="_3CqXOW32OATVMV5DKny6Ux">
            <div class="_3qpkwXEtX6F5B2cB9yo_MN">Gia nhập liên minh, khẳng định bản lĩnh, thách thức huyền thoại</div>
            </div>
        </div>
      </div>
      <div class="item">
        <a href="#"><img src="assets/images/gametv/game-carousel-bns@2x.88f97343.jpg" class="border-radius-05 w-100" alt=""></a>
        <div class="item__caption">
          <div class="_2qE8RC7sX1i9XPcjkIsHGt mb-3">Blade and soul</div>
          <div class="_3CqXOW32OATVMV5DKny6Ux">
            <div class="_3qpkwXEtX6F5B2cB9yo_MN">Tu luyện tuyệt kỹ, hoàn thiện công phu võ học,khám phá thế giới Blade & Soul!</div>
            </div>
        </div>
      </div>
      <div class="item">
        <a href="#"><img src="assets/images/gametv/game-carousel-ff@2x.4f6bfd94.jpg" class="border-radius-05 w-100" alt=""></a>
        <div class="item__caption">
          <div class="_2qE8RC7sX1i9XPcjkIsHGt mb-3">Free Fire</div>
          <div class="_3CqXOW32OATVMV5DKny6Ux">
            <div class="_3qpkwXEtX6F5B2cB9yo_MN">Sống dai thành huyền thoại Game bắn súng sinh tồn trên điện thoại hấp dẫn</div>
            </div>
        </div>
      </div>

      <div class="item">
        <img src="assets/images/gametv/game-carousel-lol@2x.850d2756.jpg" class="border-radius-05 w-100" alt="">
        <div class="item__caption">
          <div class="_2qE8RC7sX1i9XPcjkIsHGt mb-3">Arena of Valor</div>
          <div class="_3CqXOW32OATVMV5DKny6Ux">
            <div class="_3qpkwXEtX6F5B2cB9yo_MN">Cùng đồng đội thách đấu hàng triệu người chơi, khiến thế giới phải biết đến tên của bạn!</div>
            </div>
        </div>
      </div>
    </div>
    <div>
      <div class="_1CdwCGBxlTtHzDUKvfEWsA lKX6s_p6ynVhnaiCZJ25h">
        <a class="prev" onclick="plusSlides(-1)"><img src="assets/images/png-icons/icon-prev.png"/></a>
      </div>
      <div class="_3KOHgGiuwo9eAPvWW3OWXS lKX6s_p6ynVhnaiCZJ25h">
        <a class="next" onclick="plusSlides(1)"><img src="assets/images/png-icons/icon-next.png"/></a>
      </div>
    </div>
    <div style="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
      <span class="dot" onclick="currentSlide(4)"></span>
    </div>

  </div>
</div>
