<div class="tour-video">

  <div class="tour-header d-flex w-100 mb-3">
    <div class="tour-icon mr-4">
      <img src="assets/images/png-icons/icon-aoe-2x.png" />
    </div>
    <div class="tour-body">
      <div class="tour-name w-100">
        <h1 class="gametv-title"><span class="text-danger">AOE :</span> 4VS4 RANDOM | GAMETV VS SKYRED |</h1>
      </div>
      <div class="tour-more w-100 d-inline-flex">
        <div class="tour-time mr-4">
            <img src="assets/images/png-icons/icon-clock.png" class="mr-2" /> 16-01-2019
        </div>
        <div class="tour-blv">
            <img src="assets/images/png-icons/icon-user-2x.png" class="mr-2" /> Hải Mario
        </div>
      </div>
    </div>
  </div>

  <div class="tour-content">
    <div class="series-content d-inline-flex w-100 align-items-center mb-3">
        <div class="series-icon mr-3">
          <img src="assets/images/png-icons/icon-camera.png" class="mr-2" /> C1 :
        </div>
        <div class="series-list ">
          <a href="#" class="part active mr-2">Trận 1</a>
          <a href="#" class="part mr-2">Trận 2</a>
          <a href="#" class="part mr-2">Trận 3</a>
          <a href="#" class="part mr-2">Trận 4</a>
          <a href="#" class="part mr-2">Trận 5</a>
        </div>
    </div>
    <div class="series-content d-inline-flex w-100 align-items-center mb-3">
        <div class="series-icon mr-3">
          <img src="assets/images/png-icons/icon-camera.png" class="mr-2" /> C2 :
        </div>
        <div class="series-list ">
          <a href="#" class="part active mr-2">Trận 1</a>
          <a href="#" class="part mr-2">Trận 2</a>
          <a href="#" class="part mr-2">Trận 3</a>
          <a href="#" class="part mr-2">Trận 4</a>
          <a href="#" class="part mr-2">Trận 5</a>
        </div>
    </div>
    <div class="series-content d-inline-flex w-100 align-items-center mb-3">
        <div class="series-icon mr-3">
          <img src="assets/images/png-icons/icon-camera.png" class="mr-2" /> C3 :
        </div>
        <div class="series-list ">
          <a href="#" class="part active mr-2">Trận 1</a>
          <a href="#" class="part mr-2">Trận 2</a>
          <a href="#" class="part mr-2">Trận 3</a>
          <a href="#" class="part mr-2">Trận 4</a>
          <a href="#" class="part mr-2">Trận 5</a>
        </div>
    </div>
    <div class="series-content d-inline-flex w-100 align-items-center mb-3">
        <div class="series-icon mr-3">
          <img src="assets/images/png-icons/icon-camera.png" class="mr-2" /> C4 :
        </div>
        <div class="series-list ">
          <a href="#" class="part active mr-2">Trận 1</a>
          <a href="#" class="part mr-2">Trận 2</a>
          <a href="#" class="part mr-2">Trận 3</a>
          <a href="#" class="part mr-2">Trận 4</a>
          <a href="#" class="part mr-2">Trận 5</a>
        </div>
    </div>
    <div class="series-content d-inline-flex w-100 align-items-center mb-3">
        <div class="series-icon mr-3">
          <img src="assets/images/png-icons/icon-camera.png" class="mr-2" /> C5 :
        </div>
        <div class="series-list ">
          <a href="#" class="part active mr-2">Trận 1</a>
          <a href="#" class="part mr-2">Trận 2</a>
          <a href="#" class="part mr-2">Trận 3</a>
          <a href="#" class="part mr-2">Trận 4</a>
          <a href="#" class="part mr-2">Trận 5</a>
        </div>
    </div>
    <div class="series-content d-inline-flex w-100 align-items-center mb-3">
        <div class="series-icon mr-3">
          <img src="assets/images/png-icons/icon-camera.png" class="mr-2" /> C6 :
        </div>
        <div class="series-list ">
          <a href="#" class="part active mr-2">Trận 1</a>
          <a href="#" class="part mr-2">Trận 2</a>
          <a href="#" class="part mr-2">Trận 3</a>
          <a href="#" class="part mr-2">Trận 4</a>
          <a href="#" class="part mr-2">Trận 5</a>
        </div>
    </div>
    <div class="series-content d-inline-flex w-100 align-items-center mb-3">
        <div class="series-icon mr-3">
          <img src="assets/images/png-icons/icon-camera.png" class="mr-2" /> C7 :
        </div>
        <div class="series-list ">
          <a href="#" class="part active mr-2">Trận 1</a>
          <a href="#" class="part mr-2">Trận 2</a>
          <a href="#" class="part mr-2">Trận 3</a>
          <a href="#" class="part mr-2">Trận 4</a>
          <a href="#" class="part mr-2">Trận 5</a>
        </div>
    </div>

    <div class="tour-tag d-inline-flex w-100 align-items-center mb-3 border-bottom border-top py-3">
        <div class="tour-tag-icon mr-3">
          <img src="assets/images/png-icons/icon-video-2x.png" class="mr-2" /> Xem thêm :
        </div>
        <div class="series-list ">
          <a href="#" class="part-tag active mr-2">TEAM AOE GAMETV</a>
          <a href="#" class="part-tag mr-2">CSDN</a>
          <a href="#" class="part-tag mr-2">GAMETV</a>
        </div>
    </div>


  </div>

</div>

<div class="list-news-video mt-5">
  <div class="list-news-video__header gametv-title mb-3">
    TRẬN ĐẤU KHÁC
  </div>
  <div class="list-news-video__content">
    <div class="row">
        <div class="col">
          <div class="news-card">
            <div class="news-card-img thumb-video mb-2">
              <img src="./assets/images/gametv/video.jpg" class ="w-100">
              <div class="icon-video"><img src="assets/images/png-icons/icon-play.png" width="30"  class="mr-2" /></div>
            </div>
            <div class="news-card-title mb-2">
              <a href="#" class="font-weight-bold"><span class="text-danger">AOE :</span> 4VS4 RANDOM | GAMETV VS SKYRED</a>
            </div>
            <div class="news-card-more w-100 d-inline-flex ">
              <div class="tour-time mr-4 font-size-small text-secondary">
                  <img src="assets/images/png-icons/icon-clock.png" width="14" class="mr-2" /> 16-01-2019
              </div>
              <div class="tour-blv font-size-small text-secondary">
                  <img src="assets/images/png-icons/icon-user-2x.png" width="14" class="mr-2" /> Hải Mario
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="news-card">
            <div class="news-card-img thumb-video mb-2">
              <img src="./assets/images/gametv/video.jpg" class ="w-100">
              <div class="icon-video"><img src="assets/images/png-icons/icon-play.png" width="30"  class="mr-2" /></div>
            </div>
            <div class="news-card-title mb-2">
              <a href="#" class="font-weight-bold"><span class="text-danger">AOE :</span> 4VS4 RANDOM | GAMETV VS SKYRED</a>
            </div>
            <div class="news-card-more w-100 d-inline-flex ">
              <div class="tour-time mr-4 font-size-small text-secondary">
                  <img src="assets/images/png-icons/icon-clock.png" width="14" class="mr-2" /> 16-01-2019
              </div>
              <div class="tour-blv font-size-small text-secondary">
                  <img src="assets/images/png-icons/icon-user-2x.png" width="14" class="mr-2" /> Hải Mario
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="news-card">
            <div class="news-card-img thumb-video mb-2">
              <img src="./assets/images/gametv/video.jpg" class ="w-100">
              <div class="icon-video"><img src="assets/images/png-icons/icon-play.png" width="30"  class="mr-2" /></div>
            </div>
            <div class="news-card-title mb-2">
              <a href="#" class="font-weight-bold"><span class="text-danger">AOE :</span> 4VS4 RANDOM | GAMETV VS SKYRED</a>
            </div>
            <div class="news-card-more w-100 d-inline-flex ">
              <div class="tour-time mr-4 font-size-small text-secondary">
                  <img src="assets/images/png-icons/icon-clock.png" width="14" class="mr-2" /> 16-01-2019
              </div>
              <div class="tour-blv font-size-small text-secondary">
                  <img src="assets/images/png-icons/icon-user-2x.png" width="14" class="mr-2" /> Hải Mario
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="list-news-video mt-5">
  <div class="list-news-video__header gametv-title mb-3">
    CÁC TIN LIÊN QUAN
  </div>
  <div class="list-news-video__content">
    <div class="row">
        <div class="col">
          <div class="news-card">
            <div class="news-card-img mb-2">
              <img src="./assets/images/gametv/video.jpg" class ="w-100">
            </div>
            <div class="news-card-title mb-2">
              <a href="#" class="font-weight-bold"><span class="text-danger">AOE :</span> 4VS4 RANDOM | GAMETV VS SKYRED</a>
            </div>
            <div class="news-card-more w-100 d-inline-flex ">
              <div class="tour-time mr-4 font-size-small text-secondary">
                  <img src="assets/images/png-icons/icon-clock.png" width="14" class="mr-2" /> 16-01-2019
              </div>

            </div>
          </div>
        </div>
        <div class="col">
          <div class="news-card">
            <div class="news-card-img mb-2">
              <img src="./assets/images/gametv/video.jpg" class ="w-100">
            </div>
            <div class="news-card-title mb-2">
              <a href="#" class="font-weight-bold"><span class="text-danger">AOE :</span> 4VS4 RANDOM | GAMETV VS SKYRED</a>
            </div>
            <div class="news-card-more w-100 d-inline-flex ">
              <div class="tour-time mr-4 font-size-small text-secondary">
                  <img src="assets/images/png-icons/icon-clock.png" width="14" class="mr-2" /> 16-01-2019
              </div>

            </div>
          </div>
        </div>
        <div class="col">
          <div class="news-card">
            <div class="news-card-img mb-2">
              <img src="./assets/images/gametv/video.jpg" class ="w-100">
            </div>
            <div class="news-card-title mb-2">
              <a href="#" class="font-weight-bold"><span class="text-danger">AOE :</span> 4VS4 RANDOM | GAMETV VS SKYRED</a>
            </div>
            <div class="news-card-more w-100 d-inline-flex ">
              <div class="tour-time mr-4 font-size-small text-secondary">
                  <img src="assets/images/png-icons/icon-clock.png" width="14" class="mr-2" /> 16-01-2019
              </div>

            </div>
          </div>
        </div>
    </div>
  </div>
</div>
