<footer class="auth-footer font-size-large">
  <div class="container">
    <ul class="auth-footer__links d-flex list-unstyled font-weight-medium mb-2">
      <li class="auth-footer__link mr-4">
        <a href="/">Giới thiệu</a>
      </li>
      <li class="auth-footer__link mr-4">
        <a href="/">Chính sách & Điều khoản</a>
      </li>
      <li class="auth-footer__link mr-4">
        <a href="/">Tuyển dụng</a>
      </li>
      <li class="auth-footer__link mr-4">
        <a href="/">Trợ giúp</a>
      </li>
      <li class="auth-footer__link mr-4">
        <a href="/">Trợ giúp đăng nhập</a>
      </li>
      <li class="auth-footer__link mr-4">
        <a href="/">Bảo mật tài khoản</a>
      </li>
    </ul>
    <div class="footer__copyright text-dark">
      Gapo © 2019
    </div>
  </div>
</footer>
