<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col col-3">
          <div class="header__logo d-flex  align-items-center">
            <a href="/" class="header__logo-lightmode"><img src="./assets/images/gametv/logo.png"/></a>
            <a href="/" class="header__logo-darkmode"><img src="./assets/images/gametv/logo-dark.png"/></a>
          </div>
      </div>
      <div class="col col-5">
        <div class="gametv-subtitle mb-3">Công ty cổ phần công nghệ GTV Việt Nam</div>
        <p class="text-secondary font-size-small mb-2">Giấy phép MXH số 146/GP-BTTTT Được cấp bởi bổ thông tin và truyền thông</p>
        <p class="text-secondary font-size-small mb-2">Đơn vị chủ quản: Công Ty Cổ phần công nghệ GTV Việt Nam</p>
        <p class="text-secondary font-size-small mb-2">Địa chỉ: 206/02 Tầng 2, Tòa nhà No1A Golden Land,</p>
        <p class="text-secondary font-size-small mb-2">Số 275 Nguyễn Trãi, Thanh Xuân Trung. Thanh Xuân. Hà Nội</p>
      </div>
      <div class="col col-4">
        <div class="gametv-subtitle mb-3">Liên hệ hợp tác</div>
        <p class="text-secondary font-size-small mb-2">Công Ty Cổ phần công nghệ GTV Việt Nam</p>
        <p class="text-secondary font-size-small mb-2">Email: Cooperation@gtv.com.vn</p>
        <p class="text-secondary font-size-small mb-2">Mobile: 0867 941 184</p>
      </div>
    </div>
  </div>
</div>







