<div class="post-item__comments">
  <div class="comments__list">
    <div class="comment__item media">
      <a href="./profile.html" class="gapo-avatar gapo-avatar--32 mr-2"
        style="background-image: url(http://beat.vn/assets/images/beatvn.png)"></a>
      <div class="comment-info media-body">
        <div class="d-inline-block comment__info rounded-lg mb-2">
          <a href="./profile.html" class="comment__author font-weight-bold mb-1 d-inline-block">Nguyễn Anh Đức</a>
          <div class="author__content">
            Hay vô cùng luôn bạn ạ! Hay vô cùng luôn bạn ạ! Hay vô cùng luôn bạn ạ! Hay vô cùng luôn bạn ạ!
          </div>
        </div>
        <div class="comment__actions">
          <span class="text-secondary mr-2">3 giờ trước</span>
          <a href="" class="font-weight-bold">Trả lời</a>
        </div>
        <div class="comment__replies mt-2">
          <div class="comment__item media">
            <a href="./profile.html" class="gapo-avatar gapo-avatar--24 mr-2"
              style="background-image: url(http://beat.vn/assets/images/beatvn.png)"></a>
            <div class="comment-info media-body">
              <div class="d-inline-block comment__info rounded-lg mb-2">
                <a href="./profile.html" class="comment__author font-weight-bold mb-1 d-inline-block">Nguyễn Anh Đức</a>
                <div class="author__content">
                  Hay vô cùng luôn bạn ạ! Hay vô cùng luôn bạn ạ! Hay vô cùng luôn bạn ạ! Hay vô cùng luôn bạn ạ!
                </div>
              </div>
              <div class="comment__actions">
                <span class="text-secondary mr-2">3 giờ trước</span>
                <a href="" class="font-weight-bold">Trả lời</a>
              </div>
            </div>
            <a href="" class="comment__like ml-2">
              <i class="gapo-icon icon-heart"></i>
              <small class="d-block">10</small>
            </a>
          </div>
        </div>
      </div>
      <a href="" class="comment__like ml-2">
        <i class="gapo-icon icon-heart"></i>
        <small class="d-block">10</small>
      </a>
    </div>
  </div>
</div>
